body {
  background: #448abd;
  text-align: center;
  padding: 2em;
  font-family: sans-serif;

  & img {
    max-width: 200px;
  }

  & p {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 18px;
  }
}
