// Delete this code and add your own!
body {
  background: #448ABD;
  text-align: center;
  padding: 2em;
  font-family: sans-serif;

  img {
    max-width: 200px;
  }

  p {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 18px;
  }
}